.logo {
  width: 200px;
}

.img-me {
  width: 50%;
  margin: 40px;
  border-radius: 10%;
}

.img-me2 {
  border-radius: 10%;
}

.img-2 {
  border-radius: 2%;
}

h2 {
  margin-bottom: 20px;
}

.socialIcons i {
  padding: 10px;
}

